body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.dropdown-toggle,
.bootstrap-select,
.input-group {
    max-width: 300px;
}

.intl-tel-input {width: 100%;}

.thumbDiv {
    padding: 5px 0px;
}

.validation-summary-errors ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.gameDl {
    margin-top: 5px;
}

.fileUploadDiv {
    padding-bottom: 10px;
}

.fileUploadDiv .photoTagsInput {
    margin-top: 10px;
}