@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sports Manager</h1>
    <p class="lead">Welcome to to the Sports Manager web application!</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>
            Please use the links in the name bar at the top to navigate the features of this application. Please note these may change depending on who is logged into the system.
        </p>
    </div>
</div>